<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
        Title
    {% endblock %}</title>
</head>
<body>
    {% include 'menu.html' %}
    {% block header %}
        <H1>Справочники</H1>
    {% endblock %}
    {% block searchform %}
        <form action="" method="get">
            {% block searchform_name %}
                {{ form }}
            {% endblock %}
            <button type="submit">Поиск</button>
        </form>
        <br>
    {% endblock %}

    <table border="1">
        {% block dimension_list %}
            <tr>
                <th>Наименование</th>
                <th>Описание</th>
            </tr>
            {% for object in object_list %}
                <tr>
                    <td><a href="{% url url_detail object.pk %}">{{ object.name }}</a></td>
                    <td>{{  object.description }}</td>
                </tr>
            {% endfor %}
        {% endblock %}
    </table>

</body>
</html>